<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WhiteHats |{% block header %} Index {% endblock %}</title>
</head>
<body>


{% block content %}
    <section>
   <h1>White_Hats Team Members</h1>
    <hr />
    <ul>
        <li><a href="{% url 'app:dan' %}">Dan</a></li>
        <li><a href="{% url 'app:svengates' %}">SvenGates</a></li>
        <li><a href="{% url 'app:yilin' %}">Yilin</a></li>
        <li><a href="{% url 'app:tarun' %}">Tarun</a></li>
        <li><a href="{% url 'app:enowell'%}">Enowell</a></li>
        <li><a href="{% url 'app:index1' %}">Eh Doh Wah</a></li>
    </ul>
    <br />

<hr />
<h1> Here is all the new students</h1>
{{ student_list }}
<ul>
{% for student in student_list %}
   <li>Name: {{ student.Name }} <-> ID: {{ student.ID }}</li>
{% endfor %}

</ul>

</section>
{% endblock %}


<section>
    <br />
    <hr />
    <h1> THis is a footer</h1>
</section>
</body>
</html>